  <div>
    <button><%= link_to 'Create New User', '/register' %></button><br>
    <button><%= link_to 'Log In', '/login' %></button><br>
  </div>

  <div>
    Existing Users:<br>
    <% @users.each do |user| %>
      <%= link_to "#{user.email}", "/dashboard" %><br>
    <% end %>

  </div>
