<div>
  <% if current_user %>
    <button><%= link_to 'Log Out', '/logout' %></button><br>
  <% else %>
    <button><%= link_to 'Create New User', '/register' %></button><br>
    <button><%= link_to 'Log In', '/login' %></button><br>
  <% end %>
</div>

<% if current_user %>
  <div>
    <h3>Existing Users:</h3><br>
    <% @users.each do |user| %>
      <%= "#{user.email}" %><br>
    <% end %>
  </div>
<% end %>
